:root{
  --primary:#6948ff;
  --secondary:#553bcb;
  --darkgrey:#22262a;
  --lightgrey:#d3d3d3;
  --grey:#808080;
  --white:#f8f8f8;
}

a{
  text-decoration: none;
  color: var(--white);
}
body{
  color: #333;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
  padding: 0%;
  margin: 0%;
}
.primary-color{
  color: var(--primary);
}